
{
  "version": "2018-05-29",
  "operation": "Invoke",
  "payload": {
    "arguments": $utils.toJson($context.arguments),
    "info": $utils.toJson($context.info),
    "identity": $utils.toJson($context.identity),
    "request": $utils.toJson($context.request),
    "prev": $utils.toJson($context.prev)
  }
}
